*,
*::before,
*::after {
    box-sizing:border-box;
}

body {
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
}

/* HEADER */

.site-header {
    background-color:#f5f7f9;
    width:100%;
    display:block;
    height:40px;
    border-bottom:1px solid #e5e9ed;
    font-size:12px;
}

.flex-between {
    max-width:1200px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.socials, .info {
    display:flex;
    list-style:none;
}

.socials a, .info a {
    margin:0;
    text-decoration:none;
    color:#506a85;
    padding: 13px;
    transition: 0.5s;
}

.info i {
    padding:5px;
}

.socials a:hover, .info a:hover {
    color:#00bb9b;
}

/* NAVIGATION */

.navi {
    margin:0;
    background-color:#FFF;
    text-transform:uppercase;
    font-weight:700;
    color:#506a85;
    height:100px;
}

.main-nav {
    display:flex;
    list-style:none;
    padding-top:24px;
}

.main-nav li {
    margin-right:43px;
}

.main-nav a {
    margin:0;
    padding: 10px 17px;
    text-decoration:none;
    color:#506a85;
    transition: 0.5s;
}

.main-nav a:hover, .main-nav a:active {
    background-color:#00bb9b;
    border-radius:5px;
    color:#fff;
}

.mobile-nav {
    display:none;
}

.logo {
    padding-top:25px;
}

/* HERO */

.hero {
    height:600px;
    text-align:center;
    animation: hero-load 900ms ease-in;
    background-image: url('/img/hero-drone1.png');
    background-size: cover;
    transition: background-image 1.5s ease-in-out;
}

@keyframes hero-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    max-width:1200px;
    margin:0 auto;
}

.hero h1 {
    margin:0;
    text-transform:uppercase;
    color:#fff;
    font-size:4rem;
    letter-spacing:2px;
    padding-top:170px;
}

.hero h2 {
    font-size:1.25rem;
    color:#a3b0bf;
}

.hero button, .contact .btn {
    font-size:1.125rem;
    letter-spacing:0.02em;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    background-color:#00bb9b;
    padding:28px 82px 25px;
    border-radius:5px;
    outline:none;
    border:none;
    border-bottom:4px solid #009f84;
    margin-top:40px;
    display:inline-block;
    cursor:pointer;
    animation: button-load 500ms ease-in;    
}

@keyframes button-load {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

/* SERVICES */

.section-heading {
    text-align:center;
    animation: services-load 900ms ease-in;
}

@keyframes services-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.services {
    padding:20px;
}

.section-heading h1 {
    font-size:2.75rem;
    color:#506a85;
    margin:0;
}

.section-heading h3 {
    font-size:1.375rem;
    color:#506a85;
    margin:0;
}

.section-content {
    display:flex;
}

.offer {
    display:flex;
    flex-wrap:wrap;
    color:#506a85;
    animation: offer-load 1.5s ease-in;
}

@keyframes offer-load {
    0% {
        transform:translateX(-500%);
        opacity:0;
    }
    100% {
        transform:translateX(0);
        opacity:1;
    }
}

.section-content i {
    color:#00bb9b;
    font-size:3rem;
    padding:30px;
    animation: icon-fade 2s ease-in;
}

@keyframes icon-fade {
    0% {
        transform:translateX(-500%);
        opacity:0;
    }
    100% {
        transform:translateX(0);
        opacity:1;
    }
}

/* LOCATION */

.location {
    background-color:#f1f5f7;
    color:#506a85;
    text-align:center;
    padding:20px;
}

.location h2 {
    font-size:2.75rem;
    margin:0
}

/* CONTACT */

.contact {
    color:#506a85;
    margin:0;
    padding:20px;
}

.contact h2 {
    margin:0;
}

.contact .container {
    padding-bottom:60px;
}

.contact .section-content {
    justify-content:center;
    width:80%;
    max-width:860px;
    margin:30px auto;
}

.contact .section-content .contact-form .input-row {
    margin-bottom:30px;
}

.contact .section-content .contact-form .input-row input {
    padding:15px 25px;
    border-radius:5px;
    background-color:#f1f5f7;
    width:calc(50% - 18px);
}

.contact .section-content .contact-form .input-row input:first-child {
    margin-right:16px;
}

.contact .section-content .contact-form .input-row input:last-child {
    margin-left:16px;
}

.contact .section-content .contact-form textarea {
    border-radius:5px;
    width:100%;
    background-color:#f1f5f7;
    padding:25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1rem;
}

.contact .btn {
    margin:60px auto 0;
    display:block;
    width:250px;
    padding:15px 50px;
    border-top:none;
    border-left:none;
    border-right:none;
    font-family: 'Source Sans Pro', sans-serif;
}

#submittedText h2, #submittedText h3 {
    text-align:center;
}

#submittedText h2 {
    color:#00bb9b;
}

/* FOOTER MAIN */

.footer-main {
    background-color:#2f3f51;
    padding:0;
    color:#fff;
    padding:25px 0;
}

.footer-main p {
    color:#8695a4;
    font-size:0.875rem;
}

.who .contact-info {
    width:20%;
}

.who h2, .contact-info h2 {
    text-transform:uppercase;
    margin:0;
    padding-bottom:25px;
}

.who a, .contact-info a {
    text-decoration:none;
    color:#8695a4;
    font-size:0.875rem;
    transition: 0.5s;
}

.contact-info a:hover, .who a:hover {
    color:#00bb9b;
}

.who a {
    font-size:1rem;
}

.contact-info i {
    padding:5px;
    color:#8695a4;
}

/* FOOTER SUB */

footer {
    background-color:#273545;
    color:#707e8c;
    font-size:0.875rem;
}

/* MOBILE SCREEN - INDEX */

@media screen and (max-width:390px) {
    .site-header {
        display:none;
    }
    .main-nav {
        display:none;
    }
    .navi {
        display:block;
    }
    .logo {
        margin-left:20px;
    }
    .mobile-nav {
        position:relative;
        width:100%;
        display:block;
    }
    .mobile-nav ul {
        flex-direction:column;
        display:none;
        position:absolute;
        width:100%;
        top:50px;
        padding:20px;
        background-color:#fff;
    }
    .mobile-nav li {
        list-style:none;
    }
    .mobile-nav a {
        color:#2f3f51;
        text-decoration:none;
        font-size:1rem;
        text-transform:uppercase;
        margin:0 20px;
        padding:10px 17px;
        display:block;
    }
    .mobile-nav a:hover, .mobile-nav a:active {
        background-color:#00bb9b;
        border-radius:5px;
        color:#fff;
    }
    .mobile-nav a.icon {
        display:block;
        position:absolute;
        right:0;
        font-weight:bold;
    }
    .hero h1 {
        font-size:4rem;
        text-align:center;
        padding-top:60px;
    }
    .hero .container a {
        padding:15px 20px;
    }
    .hero button {
        margin:0;
    }
    .services .section-content {
        flex-direction:column;
        align-items:center;
        text-align:center;
    }
    .services .section-content .offer {
        text-align:center;
        justify-content:center;
    }
    .section-content .i {
        padding:15px;
    }
    .section-content h2 {
        margin:0;
    }
    .location .container iframe {
        width:100%;
        margin:0;
    }
    .contact .container {
        padding:0px;
    }
    .contact .btn {
        margin-top:20px;
    }
    .footer-main .flex-between {
        flex-direction:column;
        text-align:center;
    }
    .footer-main .flex-between .who h2, .footer-main .flex-between .who p, .footer-main .flex-between .who strong, .footer-main .flex-between .contact-info h2, .footer-main .flex-between .contact-info p {
        display:none;
    }
    .footer-main .flex-between .who img, .footer-main .flex-between .contact-info a, .footer-main .flex-between .contact-info i {
        font-size:1.15rem;
    }
    .footer-sub .flex-between {
        flex-direction:column;
        font-size:1rem;
    }
    .footer-sub .flex-between .socials {
        text-align:center;
        font-size:1.5rem;
        padding:0;
        margin-top:0;
    }
}

/* TABLET SCREEN */

@media screen and (max-width:768px) {
    .site-header {
        display:none;
    }
    .main-nav {
        display:none;
    }
    .navi {
        display:block;
    }
    .logo {
        margin-left:20px;
    }
    .mobile-nav {
        position:relative;
        width:100%;
        display:block;
    }
    .mobile-nav ul {
        flex-direction:column;
        display:none;
        position:absolute;
        width:100%;
        top:50px;
        padding:20px;
        background-color:#fff;
    }
    .mobile-nav li {
        list-style:none;
    }
    .mobile-nav a {
        color:#2f3f51;
        text-decoration:none;
        font-size:1rem;
        text-transform:uppercase;
        margin:0 20px;
        padding:10px 17px;
        display:block;
    }
    .mobile-nav a:hover, .mobile-nav a:active {
        background-color:#00bb9b;
        border-radius:5px;
        color:#fff;
    }
    .mobile-nav a.icon {
        display:block;
        position:absolute;
        right:0;
        font-weight:bold;
    }
    .hero h1 {
        padding-top:100px;
    }
    .services .section-content {
        font-size:1.5rem;
        flex-direction:column;
        align-items:center;
        text-align:center;
    }
    .services .section-content i {
        font-size:4rem;
        padding:0;
    }
    .services .section-content h2 {
        margin:0;
    }
    .services .offer {
        text-align:center;
        justify-content:center;
    }
    .location .container iframe {
        width:100%;
        margin:0;
    }
    .contact .container {
        padding:0;
    }
    .footer-main .flex-between {
        flex-direction:column;
        text-align:center;
    }
    .footer-main .flex-between .who h2, .footer-main .flex-between .who p, .footer-main .flex-between .who strong, .footer-main .flex-between .contact-info h2, .footer-main .flex-between .contact-info p, .footer-main .flex-between .contact-info a {
        font-size: 1.25rem;
        margin:0;
    }
    .footer-main .flex-between .contact-info h2 {
        padding-top:25px;
        padding-bottom:25px;
    }
    .footer-sub .socials, .footer-sub .copyright {
        font-size:1.25rem;
    }
}