*,
*::before,
*::after {
    box-sizing:border-box;
}

body {
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
}

/* HEADER */

.site-header {
    background-color:#f5f7f9;
    width:100%;
    display:block;
    height:40px;
    border-bottom:1px solid #e5e9ed;
    font-size:12px;
}

.flex-between {
    max-width:1200px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.socials, .info {
    display:flex;
    list-style:none;
}

.socials a, .info a {
    margin:0;
    text-decoration:none;
    color:#506a85;
    padding: 13px;
}

.info i {
    padding:5px;
}

.socials a:hover, .info a:hover {
    color:#009f84;
}

/* NAVI */

.navi {
    margin:0;
    background-color:#FFF;
    font-size:15px;
    text-transform:uppercase;
    font-weight:700;
    color:#506a85;
    height:100px;
}

.main-nav {
    display:flex;
    list-style:none;
    padding-top:24px;
}

.main-nav li {
    margin-right:43px;
}

.main-nav a {
    text-decoration:none;
    color:#506a85;
}

.logo {
    padding-top:20px;
}

.main-nav li:hover {
    background-color:#506a85;
    border-radius:5px;
    padding:0 15px;
}

.main-nav a:hover {
    color:#fff;
}
/* sutvarkyti lygiavima hover */

/* HERO */

.hero {
    height:600px;
    text-align:center;
}

.container {
    max-width:1200px;
    margin:0 auto;
}

.hero h1 {
    margin:0;
    text-transform:uppercase;
    color:#fff;
    font-size:4rem;
    letter-spacing:2px;
    padding-top:170px;
}

.hero h2 {
    font-size:1.25rem;
    color:#a3b0bf;
}

.hero a, .contact .btn {
    font-size:1.125rem;
    letter-spacing:0.02em;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    background-color:#00bb9b;
    padding:28px 82px 25px;
    border-radius:5px;
    border-bottom:4px solid #009f84;
    margin-top:40px;
    display:inline-block;
    cursor:pointer;
}

/* SERVICES */

.section-heading {
    text-align:center;
}
.services {
    padding:20px;
}

.section-heading h1 {
    font-size:2.75rem;
    color:#506a85;
    margin:0;
}

.section-heading h3 {
    font-size:1.375rem;
    color:#506a85;
    margin:0;
}

.section-content {
    display:flex;
}

.offer {
    display:flex;
    flex-wrap:wrap;
    color:#506a85;
}

.section-content i {
    color:#00bb9b;
    font-size:3rem;
    padding:30px;
}

/* location */

.location {
    background-color:#f1f5f7;
    color:#506a85;
    text-align:center;
    padding:20px;
}

.location h2 {
    font-size:2.75rem;
    margin:0
}

/* contact */

.contact {
    color:#506a85;
    margin:0;
    padding:20px;
}

.contact h2 {
    margin:0;
}

.contact .container {
    padding-bottom:60px;
}

.contact .section-content {
    justify-content:center;
    width:80%;
    max-width:860px;
    margin:30px auto;
}

.contact .section-content .contact-form .input-row {
    margin-bottom:30px;
}

.contact .section-content .contact-form .input-row input {
    padding:15px 25px;
    border-radius:5px;
    background-color:#f1f5f7;
    width:calc(50% - 18px);
}

.contact .section-content .contact-form .input-row input:first-child {
    margin-right:16px;
}

.contact .section-content .contact-form .input-row input:last-child {
    margin-left:16px;
}

.contact .section-content .contact-form textarea {
    border-radius:5px;
    width:100%;
    background-color:#f1f5f7;
    padding:25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
}

.contact .btn {
    margin:60px auto 0;
    display:block;
    width:250px;
    border:none;
    padding:15px 50px;
}

/* footer-main */

.footer-main {
    background-color:#2f3f51;
    padding:0;
    color:#fff;
    padding:25px 0;
}

.footer-main p {
    color:#8695a4;
    font-size:0.875rem;
}

.who .contact-info {
    width:20%;
}

.who h2, .contact-info h2 {
    text-transform:uppercase;
    margin:0;
    padding-bottom:25px;
}

.who a, .contact-info a {
    text-decoration:none;
    color:#8695a4;
    font-size:0.875rem;
}

.who a {
    font-size:1rem;
}

.contact-info i {
    padding:5px;
    color:#8695a4;
}

/* footer-sub */

footer {
    background-color:#273545;
    color:#707e8c;
    font-size:0.875rem;
}


