*,
*::before,
*::after {
    box-sizing:border-box;
}

body {
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
}

/* HEADER */

.site-header {
    background-color:#f5f7f9;
    width:100%;
    display:block;
    height:40px;
    border-bottom:1px solid #e5e9ed;
    font-size:12px;
}

.flex-between {
    max-width:1200px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.socials, .info {
    display:flex;
    list-style:none;
}

.socials a, .info a {
    margin:0;
    text-decoration:none;
    color:#506a85;
    padding: 13px;
    transition: 0.5s;
}

.info i {
    padding:5px;
}

.socials a:hover, .info a:hover {
    color:#00bb9b;
}

/* NAVI */

.navi {
    margin:0;
    background-color:#FFF;
    text-transform:uppercase;
    font-weight:700;
    color:#506a85;
    height:100px;
}

.main-nav {
    display:flex;
    list-style:none;
    padding-top:24px;
}

.main-nav li {
    margin-right:43px;
}

.main-nav a {
    margin:0;
    padding: 10px 17px;
    text-decoration:none;
    color:#506a85;
    transition: 0.5s;
}

.main-nav a:hover, .main-nav a:active {
    background-color:#00bb9b;
    border-radius:5px;
    color:#fff;
}

.mobile-nav {
    display:none;
}

.logo {
    padding-top:25px;
}

/* HERO */

.hero {
    height:600px;
    text-align:center;
    animation: hero-load 900ms ease-in;
}

.container {
    max-width:1200px;
    margin:0 auto;
}

.hero h1 {
    margin:0;
    text-transform:uppercase;
    color:#fff;
    font-size:4rem;
    letter-spacing:2px;
    padding-top:170px;
}

.hero h2 {
    font-size:1.25rem;
    color:#a3b0bf;
}

.hero button, .contact .btn {
    font-size:1.125rem;
    letter-spacing:0.02em;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    background-color:#00bb9b;
    padding:28px 82px 25px;
    border-radius:5px;
    outline:none;
    border:none;
    border-bottom:4px solid #009f84;
    margin-top:40px;
    display:inline-block;
    cursor:pointer;
    animation: button-load 500ms ease-in;
    
}

@keyframes hero-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes button-load {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

/* SERVICES */

.section-heading {
    text-align:center;
    animation: services-load 900ms ease-in;
}
.services {
    padding:20px;
}

.section-heading h1 {
    font-size:2.75rem;
    color:#506a85;
    margin:0;
}

.section-heading h3 {
    font-size:1.375rem;
    color:#506a85;
    margin:0;
}

.section-content {
    display:flex;
}

.offer {
    display:flex;
    flex-wrap:wrap;
    color:#506a85;
    animation: offer-load 1.5s ease-in;
}

.section-content i {
    color:#00bb9b;
    font-size:3rem;
    padding:30px;
    animation: icon-fade 2s ease-in;
}

@keyframes services-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes offer-load {
    0% {
        transform:translateX(-500%);
        opacity:0;
    }
    100% {
        transform:translateX(0);
        opacity:1;
    }
}

@keyframes icon-fade {
    0% {
        transform:translateX(-500%);
        opacity:0;
    }
    100% {
        transform:translateX(0);
        opacity:1;
    }
}
/* location */

.location {
    background-color:#f1f5f7;
    color:#506a85;
    text-align:center;
    padding:20px;
}

.location h2 {
    font-size:2.75rem;
    margin:0
}

/* contact */

.contact {
    color:#506a85;
    margin:0;
    padding:20px;
}

.contact h2 {
    margin:0;
}

.contact .container {
    padding-bottom:60px;
}

.contact .section-content {
    justify-content:center;
    width:80%;
    max-width:860px;
    margin:30px auto;
}

.contact .section-content .contact-form .input-row {
    margin-bottom:30px;
}

.contact .section-content .contact-form .input-row input {
    padding:15px 25px;
    border-radius:5px;
    background-color:#f1f5f7;
    width:calc(50% - 18px);
}

.contact .section-content .contact-form .input-row input:first-child {
    margin-right:16px;
}

.contact .section-content .contact-form .input-row input:last-child {
    margin-left:16px;
}

.contact .section-content .contact-form textarea {
    border-radius:5px;
    width:100%;
    background-color:#f1f5f7;
    padding:25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1rem;
}

.contact .btn {
    margin:60px auto 0;
    display:block;
    width:250px;
    padding:15px 50px;
    border-top:none;
    border-left:none;
    border-right:none;
    font-family: 'Source Sans Pro', sans-serif;
}

/* footer-main */

.footer-main {
    background-color:#2f3f51;
    padding:0;
    color:#fff;
    padding:25px 0;
}

.footer-main p {
    color:#8695a4;
    font-size:0.875rem;
}

.who .contact-info {
    width:20%;
}

.who h2, .contact-info h2 {
    text-transform:uppercase;
    margin:0;
    padding-bottom:25px;
}

.who a, .contact-info a {
    text-decoration:none;
    color:#8695a4;
    font-size:0.875rem;
    transition: 0.5s;
}

.contact-info a:hover, .who a:hover {
    color:#00bb9b;
}

.who a {
    font-size:1rem;
}

.contact-info i {
    padding:5px;
    color:#8695a4;
}

/* footer-sub */

footer {
    background-color:#273545;
    color:#707e8c;
    font-size:0.875rem;
}

/* --- ABOUT PAGE --- */

.about-page {
    display:flex;
    justify-content:center;
    background-color:#f1f5f7;
}

/* tablet */

@media screen and (max-width:980px) {
    .site-header {
        display:none;
    }
    .main-nav {
        display:none;
    }
    .navi {
        display:block;
    }
    .logo {
        float:left;
    }
    .mobile-nav {
        position:relative;
        width:100%;
        display:block;
    }
    .mobile-nav ul {
        flex-direction:column;
        display:none;
        position:absolute;
        width:100%;
        top:133px;
        padding:20px;
        background-color:#fff;
    }
    .mobile-nav li {
        list-style:none;
    }
    .mobile-nav a {
        color:#2f3f51;
        text-decoration:none;
        font-size:1rem;
        text-transform:uppercase;
        margin:0 5px;
        padding:10px 17px;
        display:block;
    }
    .mobile-nav a:hover, .mobile-nav a:active {
        background-color:#00bb9b;
        border-radius:5px;
        color:#fff;
    }
    .mobile-nav a.icon {
        display:block;
        position:absolute;
        right:0;
        font-weight:bold;
    }
    .hero h1 {
        padding:30px;
    }
    .hero .container a {
        padding:15px 20px;
    }
    .location .container iframe {
        width:400px;
    }
    .services .section-content {
        flex-direction:column;
        align-items:center;
        text-align:center;
    }
    .services .offer {
        text-align:center;
        justify-content:center;
    }
    .footer-main {
        flex-direction:column;
    }
    .section-content .i {
        padding:15px;
    }
    .section-content h2 {
        margin:0;
    }
}

/* ABOUT PAGE */

.about-row1, .about-row2 {
    display:flex;
    justify-content:space-between;
    align-items: center;
    text-align:center;
    color:#506a85;
}

.splitline {
    content:"";
    display:block;
    width:130px;
    border-top:4px solid #00bb9b;
    margin:22px auto;
    animation: splitline-load 1s ease-in;
    animation-duration: 2s;
}

@keyframes splitline-load {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.about-row1 h3 {
    padding: 25px;
    font-size:1.5rem;
    animation: text1-load 1s ease-in;
    animation-duration: 2s;
}

.about-row2 h3 {
    padding: 25px;
    font-size:1.5rem;
    animation: text2-load 1s ease-in;
    animation-duration: 2s;
}

@keyframes text1-load {
    0% {
        transform:translateX(-300%);
        opacity:0;
    }
    100% {
        transform:translateX(0);
        opacity:1;
    }
}
@keyframes text2-load {
    0% {
        transform:translateX(300%);
        opacity:0;
    }
    100% {
        transform:translateX(0);
        opacity:1;
    }
}
.about-row1 img, .about-row2 img {
    padding: 20px;
    border-radius:40px;
    animation: image-fade 2s ease-in;
}

@keyframes image-fade {
    0% {
        opacity:0;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}

.about-row3 {
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:25px;
    height:430px;
}

.about-row3 h2 {
    font-size:5rem;
    text-align:center;
    color:#00bb9b;
    margin:0;
}

.about-row3 p {
    font-size:1.5rem;
    color:#fff; 
    margin:0;
    text-align:center;
}

.row3-fleet, .row3-experience, .row3-kilometers {
    width: 200px;
    animation: stats-load 1s ease-in;
    
}

@keyframes stats-load {
    0% {
        transform:translateX(-500%);
    }
    100% {
        transform:translateX(0);
    }
}
.row3-kilometers {
    padding-top:35px;
}

/* CONTACT-PAGE */

.contact-page {
    background-color:#f1f5f7;
    color:#506a85;
}

.contact-page-info {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

.contact1 {
    width:300px;
    padding:25px;
    text-align:center;
    animation: contact-load 1s ease-in;
}

@keyframes contact-load {
    0% {
        opacity:0;
    }
    100% {
        opacity:1
    }
}
.contact1 a {
    text-decoration:none;
    color:#506a85;
    transition: 0.5s;
}

.contact1 a:hover {
    color:#00bb9b;
}

.contact1 h2 {
    padding:0;
    margin-top:10px;
}

.contact-bottom {
    display:flex;
    justify-content:space-around;
    padding:30px;
}

.company-info {
    text-align:center;
}

.company-info a {
    text-decoration:none;
    color:#506a85;
    transition: 0.5s;
}

.company-info a:hover {
    color:#00bb9b;
}